* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ajrBang;
  src: url('./fonts/MailartRubberstamp-Regular.otf');
}

@font-face {
  font-family: ajrSans;
  src: url('./fonts/NimbusSanL-Regu.ttf');
}

@font-face {
  font-family: ajrNeo;
  src: url('./fonts/exljbris-MuseoSlab-500.otf');
}

html, body {
  /* background: #cbb6b6; */
  background: #dcdcdc;
  font-family: ajrSans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  width: 100%;
  min-height: 100vh;
  max-width: 1000px;
  margin-inline: auto;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

header, footer {
  background: #a4000b;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  position: relative;
  isolation: isolate;
  font-weight: bolder;
}

header::before, footer::before {
  position: absolute;
  content: '';
  width: 100vw;
  height: 100%;
  background: #a4000b;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 0 1rem;
  background: #dcdcdc;
  font-weight: 100;
  gap: 1rem;
}

button {
  padding: 0.25rem 0.5rem;
  border: 0.15rem solid #a4000b;
  border-radius: .5rem;
  background: #fff;
  font-size: 1rem;
  cursor: pointer;
  color: black;
  transition: background 0.25s ease;
}

button:hover {
  background: #ccc;
}

button:active {
  background: #aaa;
}

h1 {
  font-family: ajrBang;
}

.ajr, h2 {
  font-family: ajrNeo;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popular-songs {
  grid-row: 1/-1;
  grid-column: 2;
}

.song-card {
  border: 1px solid #a4000b;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
}

.song-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.songCover {
  max-width: 15rem;
  width: 30vw;
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
  aspect-ratio: 1;
}

.song-info button {
  margin-top: auto;
}

.icon {
  width: 1.75rem;
  aspect-ratio: 1;
}

.social {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: black;
  justify-content: flex-end;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bang {
  font-family: ajrBang;
  text-transform: uppercase;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
  padding-inline: 1rem;
}